<h1 mat-dialog-title>Thẻ tập mới</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Mã </mat-label>
    <input matInput [(ngModel)]="card.code">
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Mã loại thẻ</mat-label>
    <input matInput [(ngModel)]="card.cardTypeId">  
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Loại thẻ</mat-label>
    <mat-select [(ngModel)]="selectedCardtypes">
      <mat-option *ngFor="let Cardtype of Cardtypes" [value]="Cardtype.id">
        {{Cardtype.nameType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Mã người dùng</mat-label>
    <input matInput [(ngModel)]="card.accountId">
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Người tạo</mat-label>
    <mat-select [(ngModel)]="selectedAccount">
      <mat-option *ngFor="let account of Accounts" [value]="account.id">
        {{account.email}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Mã cơ sở</mat-label>
    <input matInput [(ngModel)]="card.facilityId">
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Cơ sở</mat-label>
    <mat-select [(ngModel)]="selectedFacility">
      <mat-option *ngFor="let Facility of Facilities" [value]="Facility.id">
        {{Facility.facilityName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Mã dịch vụ</mat-label>
    <input matInput [(ngModel)]="card.serviceId">
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Mã dịch vụ</mat-label>
    <mat-select [(ngModel)]="selectedService">
      <mat-option *ngFor="let Service of Services" [value]="Service.id">
        {{Service.serviceName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Cơ sở</mat-label>
    <mat-select [(ngModel)]="selectedFacility">
      <mat-option *ngFor="let Facility of Facilities" [value]="Facility.id"> 
       {{Facility.facilityName}}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- <mat-form-field>
    <mat-label>Tên cơ sở</mat-label>
    <input matInput [(ngModel)]="card.facilityName">
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Giá</mat-label>
    <input matInput [(ngModel)]="card.price">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Số ngày</mat-label>
    <input matInput [(ngModel)]="card.numOfDay">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Chú ý</mat-label>
    <input matInput [(ngModel)]="card.note">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ngày tạo</mat-label>
    <input matInput [(ngModel)]="card.dateCreated">
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Hủy bỏ</button>
    <button mat-button cdkFocusInitial (click)="createCard()">Xác nhận</button>
  </div>