<!-- {{perssions | json}} -->
<button mat-button style="background-color: green; color: whitesmoke; float: left;  margin: 10px;"
  (click)="openCreateServiceDialog() " *ngIf="currentPermission.Create">
  <mat-icon>edit</mat-icon>
  Thêm mới
  </button>
<div>
  <mat-form-field class="example-form-field">
    <mat-label>nhập từ khóa</mat-label>
    <input matInput type="text" [(ngModel)]="search">

  </mat-form-field>

      <button mat-raised-button color="primary"  (click)="getServicesByName()">tìm kiếm</button>
</div> 

<table mat-table [dataSource]="dataSource" style="width: 1500px;">

  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> STT </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
  </ng-container>

  <ng-container matColumnDef="serviceName">
    <th mat-header-cell *matHeaderCellDef> Tên dịch vụ </th>
    <td mat-cell *matCellDef="let element"> {{ element.serviceName }} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Mô tả </th>
    <td mat-cell *matCellDef="let element"> {{ element.description}} </td>
  </ng-container>
  <ng-container matColumnDef="money">
    <th mat-header-cell *matHeaderCellDef> Giá tiền </th>
    <td mat-cell *matCellDef="let element"> {{ element.money}} </td>
  </ng-container>
  <!-- <ng-container matColumnDef="createdId">
    <th mat-header-cell *matHeaderCellDef> Người tạo </th>
    <td mat-cell *matCellDef="let element"> {{ element.createdId}} </td>
  </ng-container> -->

  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell *matHeaderCellDef> Ngày tạo </th>
    <td mat-cell *matCellDef="let element"> {{ element.dateCreated | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="controls">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button *ngIf="currentPermission.Update" (click)="openUpdateServiceDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button *ngIf="currentPermission.Delete" (click)="deleteServices(element.id)">
        <mat-icon>close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
